@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
.main-div {
  background: white url("./assets/images/bg-image.jpg") scroll center;
  background-size: cover;
  height: 100vh;
  color: whitesmoke;
}
.auth-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}
/* -----proile ------- */
.main-profile {
  background: white url("./assets/images/userinfo.jpg") scroll center;
  background-size: cover;
  height: 91vh;
  color: whitesmoke;
}
.profile-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.label {
  float: left;
  font-weight: 500;
}
.text-login {
  font-weight: 600;
}
.user-info li {
  font-weight: bold;
  margin-right: 30px;
}
/* .user-info span {
  float: right;
  justify-content: space-between;
} */
